/* ===== Google Font - Poppins =========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "unicons-line";
}
html{
  overflow-x: hidden;
}
:root {
  /* =========== Colors =======*/
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --black-light-color-icon: #0e4bf1;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: crimson;
  --box3-color: #712bb3;
  --box4-color: #15d397;
  --box-shadow: #e2e8f0;
  --box-shadow2: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 28px 0 rgba(0, 0, 0, 0.19);
  --text-white: white;
  --title-icon-color: #fff;
  --input-color: white;
  --h1-color: #665f5f;
  --select-color: #2c2828cb;
  

  /* ========= Transition =======*/
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}
body {
  min-height: 100vh;
  
}
body.dark {
  --primary-color: #0e4bf1;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --black-light-color-icon: #0e4bf1;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --box4-color: #3a3b3c;
  --box-shadow2: 0 4px 8px 0 rgba(80, 79, 79, 0.2),
    0 6px 28px 0 rgba(80, 79, 79, 0.2);
  --text-white: white;
  --box-shadow: #393d42;
  --title-icon-color: #ccc;
  --input-color: rgb(66, 65, 65);
  --h1-color: #d8cece;
  --select-color: #d8cece;

}


::-webkit-scrollbar{
  width: 15px;
  
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(white, black);

}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(black, white);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border: 1px solid var(--border-color);
  transition: var(--tran-05);
  z-index: 10;
}
nav.close {
  width: 73px;
}
nav .logo-name {
  display: flex;
  align-items: center;
}
nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}
nav .logo-name a {
  text-decoration: none;
}

nav.close .logo-name .logo_name {
  opacity: 0;
  pointer-events: none;
}
nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
}
.menu-items li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 50px;
  position: relative;
}
.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
body.dark li a:hover:before {
  background-color: var(--text-color);
}
.active {
  color: var(--black-light-color-icon) !important;
}
.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}

nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
}
.nav-links {
  padding-left: 0px;
}
.li-drop{
  display: flex;
  align-items: center;
}
.menu-items  .cp-b{
  border: none;
  height: 20px;
  margin-left: 10px;
  background-color: transparent;
  color: var(--black-light-color);
}

nav.close .menu-items .li-drop  .btn-group{
  display: none;
}


.menu-items .dropdown-item{
  height: 20px;
  padding:  0rem ;
  font-size: 15px;
  color: var(--black-light-color);
}
.menu-items .dropdown-item::before{
  display: none;
}
.dropdown-menu{
  transform: translate3d(-45px, 27px, 0px) !important;
  padding: 0rem;
  border: none;

}
.menu-items .cp-b{
  border: none;
  height: 20px;
  margin-left: 10px;
  background-color: transparent;
  color: var(--black-light-color);
}
.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
  padding-left: 0px;
}
.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-items .mode-toggle .switch {
  position: relative;
  height: 22px;
  width: 40px;
  display: inline-block;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.switch::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}
body.dark .switch::before {
  left: 20px;
}

.dashboard {
  position: relative;
  /* left: 250px; */
  background-color: var(--panel-color);
  min-height: 100vh;
  /* width: calc(100% - 250px); */
  width: 100%;
  padding-left: 10px 14px;
  transition: var(--tran-05);
}
nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
}

nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .top .search-box {
  position: relative;
  height: 40px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
  align-items: cenetr;
}
.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0px 25px 0 50px;
  border-radius: 5px;
  outline: none;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
}
.top .form-select1 {
  outline: none;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
  border: 1px solid var(--select-color);
  background-color: var(--panel-color);
  color: var(--text-color);
}
.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.top .uil.uil-user-circle {
  font-size: 40px;
  border-radius: 50%;
  color: var(--text-color);
}
.dashboard .dash-content {
  padding: 60px 15px 0;
}
.dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}
.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 4 - 20px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}
.boxes .box i {
  font-size: 35px;
  color: var(--text-white);
}
.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-white);
}

.boxes .box .number {
  white-space: nowrap;
  font-size: 40px;
  font-weight: 500;
  color: var(--text-white);
}
.boxes .box.box2 {
  background-color: var(--box2-color);
}
.boxes .box.box3 {
  background-color: var(--box3-color);
}
.boxes .box.box4 {
  background-color: var(--box4-color);
}

.dash-content .activity .activity-data {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 10px 4px var(--box-shadow);
  border-radius: 11px;
  padding: 12px 8px;
}
table {
  justify-content: space-between;
  width: 100%;
}
table tr th {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
}

table tr td {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  white-space: nowrap;

}
table tr {
  position: relative;
}
table tr::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.75px;
  background-color: rgb(173, 170, 170);
}
.pyx-5 {
  padding: 9px 20px;
}


/* =========== products add. in css */
.products-container {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 110px 15px 30px;
}
.products-container .add-products-inputs {
  background: var(--panel-color);
  box-shadow: var(--box-shadow2);
  margin: 0 25px 0 0;
  padding: 8px;
  width: 100%;
}
.image-blok-border {
  padding: 15px;
  border: 1px solid #adaaaa;
  border-radius: 15px;
  margin-top: 20px;
  width: 100%;
}
.image-preview {
  height: 170px;
  border: 2px solid #dddddd;
  border-radius: 15px;
  /* /// default text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;
  font-size: 27px;
  font-weight: 400;
  background-color: rgb(194, 191, 191);
}

.image-preview__image {
  display: none;
  width: 100%;
  height: 100%;
}
.products-container .products-show {
  background: var(--panel-color);
  min-height: 50vh;
  box-shadow: var(--box-shadow2);
  overflow-x: scroll;
}

.products-container .products-show table th {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-light-color);
  padding: 9px 20px;
}

.products-container .products-show table td {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-light-color);
  padding: 9px 20px;
  white-space: nowrap;

}

.products-container .products-show img {
  width: 45px;
  height: 40px;
  border-radius: 28%;
  position: relative;
}
.products-container .products-show .btn-products {
  color: #01d8c6;
  border-radius: 20px;
  padding: 0px 10px;
  border: 1px solid #01d8c6;
  box-shadow: none;
}
.products-container .products-show .btn-group ul li:nth-child(1) a {
  background-color: rgb(255, 154, 38);
  color: white;
}
.products-container .products-show .btn-group ul li:nth-child(2) a {
  background-color: rgba(255, 0, 0, 0.788);
  color: white;
}
.products-container .add-products-inputs .products-form {
  display: flex;
  flex-direction: column;
  padding: 22px 20px;
  border: 1px solid #adaaaa;
  border-radius: 15px;
  align-items: start;
}
.products-container h1 {
  font-size: 28px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.products-container .add-products-inputs h2 {
  font-size: 23px;
  font-weight: 500;
  color: var(--h1-color);
}
.products-container .add-products-inputs .products-form label {
  font-size: 15px;
  font-weight: 500;
  margin: 25px 0 8px;
  color: #adaaaa;
}
.products-container .add-products-inputs .products-form input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #adaaaa;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
  background-color: var(--input-color);
  color: var(--text-color);
  width: 100%;
}
.products-container .add-products-inputs .products-form .image-preview {
  position: relative;
}
.products-container
  .add-products-inputs
  .products-form
  .image-preview
  .bos-file {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 5px;
  color: black;
  font-size: 22px;
  background-color: white;
  border-radius: 8px;
}
.products-container .add-products-inputs .products-form .form-btn {
  background-color: #7184f3;
  color: white;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 10px;
}

.activity-data  .news-table tr td img{
  width: 45px;
  height: 40px;
  border-radius: 28%;
  position: relative;
}
.activity-data  .news-table tr th{
  font-size: 16px;
  font-weight: 500;
  color: var(--black-light-color);
  padding: 9px 20px;
  white-space: nowrap;


}
.activity-data  .news-table tr td {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-light-color);
  padding: 9px 20px;
  white-space: nowrap;

 
}
.activity .activity-data {
  overflow-y: scroll;
}
.activity-data  .news-table .btn-news{
  color: #01d8c6;
  border-radius: 20px;
  padding: 0px 10px;
  border: 1px solid #01d8c6;
  box-shadow: none;
}

.activity-data  .news-table .btn-group ul li:nth-child(1) a {
  background-color: rgb(255, 154, 38);
  color: white;
}
.activity-data  .news-table .btn-group ul li:nth-child(2) a {
  background-color: rgba(255, 0, 0, 0.788);
  color: white;
}
.dash-content h1{
  font-size: 28px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 20px;
}

.news-block{
  box-shadow: var(--box-shadow2);
  background-color: var(--panel-color);
  padding: 15px;
  border-radius: 15px;
}


.products-container .news-block .add-products-inputs  .image-preview{
 height: 212px;
}

.news-block .add-products-inputs {
  box-shadow: none;

}


.add-products-inputs .products-form .img-p{
  margin-bottom: -18px;
  color: var(--black-light-color);
  font-size: 18px;
}
.add-products-inputs  .news-btn{
  background-color: #7184f3;
  color: white;
  margin-top: 15px;
  font-size: 15px;
  border-radius: 10px;
  align-items: start;
  margin-top: 93px;
}
.add-products-right form{
  display: flex;
  flex-direction: column;
}
.dash-content .new-p-a {
  color: var(--black-light-color);
  gap: 10px;
}
.new-p-a a{
  font-size: 18px;
  color: var(--black-light-color);
  align-items: center;
  text-decoration: none;
  margin-right: 5px;

 
}
.new-p-a a:nth-child(2){
  margin: 0 5px 0 0;
}

.news-block .add-products-right form label{
  font-size: 15px;
  font-weight: 500;
  color: var(--black-light-color);
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.news-block .add-products-right form input{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #adaaaa;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.55px;
  background-color: var(--input-color);
  color: var(--text-color);
  margin: 8px 0 30px;
}
.news-block .add-products-right form input::placeholder{
  color: var(--black-light-color);
}
.news-block .add-products-right form textarea{
  outline: none;
  margin: 8px 0 0;
  border: 1px solid #adaaaa;
  height: 260px;
  padding: 10px 0 0 10px;
  background-color: var(--input-color);
  color: var(--text-color);

}

.products-container .cP-h2{
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
/* /// format moslashtirish */



@media (max-width: 1000px) {
  nav {
    width: 73px;
  }
  nav.close {
    width: 250px;
  }
  nav .logo-name .logo_name {
    opacity: 0;
    pointer-events: nowrap;
  }
  nav.close .logo-name .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }

  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  .activity .activity-data {
    overflow-y: scroll;
  }
  .news-block{
    position: relative;
    padding-bottom: 50px;
  }
  .add-products-inputs .news-btn{
    position: absolute;
    bottom: 5px;
    right: 20px;
  }
}
@media (max-width: 1240px) {
  .dash-content .boxes .box {
    width: calc(100% / 3 - 15px);
    margin-top: 15px;
  }
}
@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}

@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 500px) {
  nav {
    width: 0;
  }
  nav.close {
    width: 220px;
  }
  nav .logo-name .logo_name {
    opacity: 0;
    pointer-events: nowrap;
  }
  nav.close .logo-name .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: nowrap;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    width: 100%;
    left: 0;
  }
  nav.close ~ .dashboard {
    left: 220px;
    width: calc(100% - 220px);
  }

  nav ~ .dashboard .top {
    width: 100%;
    left: 0;
  }
  nav.close ~ .dashboard .top {
    left: 220px;
    width: calc(100% - 220px);
  }

}

